// colors
$default: #0F3057 !default;
$primary: #00587A !default;
$white: #ffffff !default;
$blue: #00B8FF !default;
$blue-2: #99E0FF !default;
$light-blue: #EBF9FF !default;
$sky-blue: #F5FCFF !default;
$sky-blue-2: #D6F3FF !default;
$navy-blue: #00587A !default;
$grey: #8F98A3 !default;
$light-grey: rgba(207, 240, 254, 0.5) !default;
