.hero-header {
  padding: 135px 0 88px;

  @include breakpoint(md) {
    padding-bottom: 80px;
  }

  .hero-block-content {
    max-width: 642px;
    margin: 0 auto;
    padding: 0 15px;

    @include breakpoint(md) {
      max-width: 564px;
    }

    .section-heading {
      margin-top: 32px;
    }
  }
}